/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: #dad8d8;
  color: #eee;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: aliceblue;
  position: relative;
  z-index: 2;
  cursor: default;
}

h1 {
  font-weight: 400;
  color: #222;
}

/* Player */
.player-ctrl {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.player-ctrl a {
  width: 40px;
  height: 40px;
  background: #523939;
  border-radius: 50%;
  padding: 10px;
}

.player-ctrl img {
  width: 100%;
  height: 100%;
}

/* Comic Container */
.comic-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0;
}

/* Painel base */
.comic-panel {
  width: 100%;
  height: auto;
  display: block;
}

/* Lanterna */
:root {
  cursor: none;
  --cursorX: 50vw;
  --cursorY: 50vh;
}

:root::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1;
  backdrop-filter: blur(12px);
  -webkit-mask-image: radial-gradient(circle 15vmax at var(--cursorX) var(--cursorY),
      transparent 0%,
      transparent 75%,
      black 100%);
  mask-image: radial-gradient(circle 15vmax at var(--cursorX) var(--cursorY),
      transparent 0%,
      transparent 75%,
      black 100%);
  background: radial-gradient(circle 15vmax at var(--cursorX) var(--cursorY),
      rgba(100, 99, 99, 0) 0%,
      rgba(49, 49, 49, 0.1) 95%,
      rgba(46, 45, 45, 0.95) 100%);
}

/* Footer */
footer {
  padding: 20px;
  background: #523939;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 2;
}

/* Desativa a lanterna */
.no-lantern::before {
  opacity: 0;
  transition: opacity 0.6s ease;
}

/* Transição suave ao voltar */
:root::before {
  transition: opacity 0.6s ease;
}

/* Mobile */
@media (max-width: 768px) {
  .comic-row.two {
    grid-template-columns: 1fr;
  }

  .comic-container {
    padding: 1.5rem;
  }
}